@{
    ViewData["Title"] = "EasyEat";
}

<div class="text-center">
    <h1 class="text-center">EasyEat</h1>
    <p>Menu</p>
    <table>
        <tr>Strona głowna</tr>
        <tr>Ulubione</tr>
        <tr>Moje przepisy</tr>
        <tr>Stwórz listę zakupów</tr>
        <tr>Listy zakupów</tr>
    </table>
</div>
